In [1]:
import pandas as pd
import os
from dateutil import parser

# dataset link: https://ieee-dataport.org/open-access/crawdad-romataxi
if not os.path.exists('./dataset/taxi_february.pkl'):
    df = pd.read_csv('./dataset/taxi_february.txt',
                     sep=';', header=None,
                     names=['DRIVER_ID', 'TIMESTAMP', 'POSITION'])

    df['TIMESTAMP'] = df['TIMESTAMP'].apply(lambda x: parser.parse(x))

    df[['LATITUDE', 'LONGITUDE']] = df['POSITION'].str.extract(
        r'POINT\(([^ ]+) ([^ ]+)\)')
    df['LATITUDE'] = df['LATITUDE'].astype(float)
    df['LONGITUDE'] = df['LONGITUDE'].astype(float)
    df = df.drop('POSITION', axis=1)

    df.to_pickle('./dataset/taxi_february.pkl')

df = pd.read_pickle('./dataset/taxi_february.pkl')
df

          DRIVER_ID                        TIMESTAMP   LATITUDE  LONGITUDE
0               156 2014-02-01 00:00:00.739166+01:00  41.883672  12.487778
1               187 2014-02-01 00:00:01.148457+01:00  41.928543  12.469037
2               297 2014-02-01 00:00:01.220066+01:00  41.891069  12.492705
3                89 2014-02-01 00:00:01.470854+01:00  41.793177  12.432122
4                79 2014-02-01 00:00:01.631136+01:00  41.900275  12.462746
...             ...                              ...        ...        ...
21817846        220 2014-03-02 23:59:58.282599+01:00  41.901199  12.484496
21817847        324 2014-03-02 23:59:58.460481+01:00  41.897262  12.472831
21817848        266 2014-03-02 23:59:58.468372+01:00  41.909772  12.529965
21817849        360 2014-03-02 23:59:58.886768+01:00  41.912769  12.417502
21817850        113 2014-03-02 23:59:58.943143+01:00  41.880361  12.508293

[21817851 rows x 4 columns]

In [2]:
df['TIMESTAMP'].dt.date.nunique()

30

In [3]:
df['DRIVER_ID'].nunique(), df['DRIVER_ID'].unique()

(316,
 array([156, 187, 297,  89,  79, 191, 343, 341, 260,  59, 122, 311, 351,
         58, 196, 105, 331, 362, 188, 172, 352, 361, 321, 318, 317, 368,
        295, 197, 298, 232, 315,   2, 135, 248, 132, 104, 234, 357, 281,
         53, 257,  37, 224, 178, 174,  61, 291, 365,  94, 228, 259, 193,
         80, 137,  24, 124, 162,  71,  46, 127, 155,  70, 359, 290,  11,
        149,  72, 254, 353,  45,  51, 153, 275, 101, 310, 256,  50,  67,
        112, 160,  95,  12,  83,  68,  84, 109, 336, 229, 202, 211, 103,
        102,  47, 335, 326, 128, 363,  31, 140,  19, 121, 269, 309,  93,
        163, 214,  43, 293, 305, 322, 179, 274,   8, 134,  13, 150, 255,
        264, 252, 213, 348, 159,  96,  91, 289, 243,  74, 306, 366,  65,
        329, 185,  14,  78,  66, 249, 180, 280,  99, 350, 316, 334, 167,
        157, 120, 190, 282, 288, 342, 283, 360,  92, 250, 268, 330, 355,
        192, 170,   7, 273, 175, 235,  73, 344, 346, 266, 169, 223,  21,
          3,  85, 324, 337, 198,  81,  87, 113,  62, 143, 154, 220, 139,
        199,  22, 119, 241,  40, 106, 200, 225,  54, 129,  42, 238, 115,
        294, 222, 203, 246, 340, 287, 151,  60, 148, 182,  55, 130, 270,
        332, 226,  97, 239, 138,  82, 231, 100, 181, 339, 338, 323, 367,
        195,  56, 356, 194, 186, 237, 230,  48,  28,  23, 117, 158,  29,
        267, 145, 276, 147, 152, 240, 221,   4, 262, 110,  57, 261, 183,
         39, 308, 131,  32,  17, 320, 141, 184,  49, 171, 300, 123, 245,
        204,  30, 206,  88, 258, 278,  76, 125, 126, 285, 313, 302, 314,
        301, 244, 279, 215,  41, 347,  44, 107,  90, 209, 176, 284, 325,
        118, 328, 242, 212, 358, 349,  75, 369, 144, 210, 205, 236, 345,
        217, 208, 312, 111, 303, 166, 233, 201, 173, 370, 253, 304, 371,
        372, 373, 374, 296]))

In [23]:
# hourly data volumn